body {
    font-family: ten-mincho,serif;
    font-style: normal;
}

blockquote {
    font-family: ten-mincho,Georgia,bitstream charter,serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: ten-mincho,raleway,sans-serif;
}
